
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery</title>
</head>
<body>
    <h1>Тракийска фолклорна област</h1>
    <div class="video-player-tfo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b8MQtRMy0nM" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ruh7T1DKT_I" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-player-shfo">
    <h1>Шопска фолклорна област</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S7z8PKJVKvw" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1X65wPBvqqM" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-player-pfo">
        <h1>Пиринска фолклорна област</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Gz92r17wM2o" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U_1s4wdpY3s" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-player-dfo">
        <h1>Добруджанска фолклорна област</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2Bwte5VeZRI" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zam_HuG9eis" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</body>
</html>
