<html>
<head>
    <title>Video Gallery</title>
    <link rel="stylesheet" href="./css/home.css" />
</head>
<body>
    <h1>Фолклорен ансамбъл "Розова долина"</h1>
    <div class="Images">
        <img src="~/images/4.jpg" />
    </div>
</body>
</html>
